.nfs*
.idea/*
.vscode/*
*/__pycache__/*
*.pyc
cache*
ctdne_data/*
ctdne_embs/*
ctdne_output/*
graph_data/*
format_data/*
train_data/*
valid_data/*
test_data/*
log/*
cuda_example/*
tf_op/*
ckpt/*
comp_results/*
results/*
summarized_results/*
saved_models/*
*.out
*/.ipynb_checkpoints/*
*.svg
*.pdf
*/build/*
*/dist/*
*/upper_bound_cpp.egg-info/*
